

/* ============================Object=====================================*/

.object {
	padding-bottom: 6.5rem;

	// .object__container

	&__container {
	}

	// .object__title

	&__title {

	}

	// .object__content

	&__content {
		display: flex;
		gap:1.5rem;
	}

	// .object__photo

	&__photo {
	}

	// .object__info

	&__info {
		padding: 3rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	// .object__info-title

	&__info-title {
		margin-bottom: 0;
	}

	// .object__info-divider

	&__info-divider {
		border-top: .1rem solid var(--accent-color-orr);
	}
	&__info-list {
		
	}

	// .object__info-value

	&__info-value {
		margin-bottom: 1.5rem;
	}
}


/*-------------------------history---------------------------------------*/

.history {
	padding-bottom: 6.5rem;

	// .history__container

	&__container {
	}

	// .history__title

	&__title {
	}

	// .history__text

	&__text {
	}

	// .history__p

	&__p {
	}
}
