
/*----------------footer----------------*/
.footer {
	background-color: var(--accent-color);
	padding: 2rem 0;

	// .footer__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items:center;
	}

	// .footer__logo

	&__logo {
	}

	// .footer__contacts

	&__contacts {
		display: flex;
		flex-direction: column;
		gap:.6rem;
	}

	// .footer__contacts-title

	&__contacts-title {
		font-size: 2rem;
		font-weight: 500;
		line-height: 2.8rem;
	}

	// .footer__contact

	&__contact{
		display: flex;
		align-items: center;
		gap: .6rem;
	}

	// .footer__contact-icon

	&__contact-icon {
	}


	// .footer__rights

	&__rights {
		display: flex;
		flex-direction: column;
		gap:.6rem;
	}
	span{
		color: #86928B;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 150%;
	}
}
