
/*-----------------------------Catalog-----------------------------------*/
.catalog {
	padding-bottom: 6.5rem;
	// .catalog__container

	&__container {
	}

	// .catalog__title

	&__title {
	}

	// .catalog__cards

	&__cards {
		display: flex;
		gap:5rem;
	}

	// .catalog__card

	&__card {
		display: flex;
		flex-direction: column;
		width: 35rem;
		height: 56rem;
		background-color:var(--accent-color);
		justify-content:space-between;
		padding: 2rem;
	}

	//.catalog__card-img

	&__card-img {
		width: 31rem;
		height: 31rem;
	}

	// .catalog__card-title

	&__card-title {
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 3.5rem;
	}

	// .catalog__card-adress

	&__card-adress {
	}

	// .catalog__card-btn

	&__card-btn {
	}
}
