/*------------------------------map----------------------------------*/
.maps__filters-container{
	position: absolute;
	top:11rem;
	left: 20rem;
	min-width: 350px;
}

.object-info{
	width: 250px;
	background-color: var(--accent-color-orr);
	position: absolute;
	top:200px;
	right: 100px;
}