/*------General----------*/
.btn {
	background-color:var(--bg-color);
	box-sizing: border-box;
	border: .1rem solid var(--accent-color-orr);
	padding: 2rem 6rem 2rem 6rem;
	color: var(--accent-color-orr);
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.3rem;
	text-align: center;
	cursor: pointer;
	transition: all .2s;
	@media (any-hover: hover){ //для всех утройств с курсором
		&:hover{
			color: var(--accent-color);
			border: .1rem solid var(--accent-color);
			background-color:var(--accent-color-orr-light);
		}
		&:active{
			background-color:var(--accent-color-orr);
		}
	}
}