/* Стили для модального окна */
.modal {
	display: none;
	position: fixed; /* Фиксированное позиционирование */
	left: 0;
	top: 0;
	width: 100%; /* Полная ширина */
	height: 100%; /* Полная высота */
	overflow: auto; /* Добавление прокрутки, если контент не помещается на экран */
	background-color: rgba(0, 0, 0, 0.545); /* Цвет фона с небольшой прозрачностью */
  }
  
  /* Стили для контента модального окна */
  .modal-content {
	border-radius:20px;
	background-color: #fefefe; /* Цвет фона контента */
	margin: 100px auto; /* Отступы от краев экрана */
	padding: 30px;
	border: 1px solid #888; /* Рамка */
	width: 600px; /* Ширина */
	position: relative; /* Позиционирование относительно родительского блока */
  }
  .modal-content h2{
	text-align: center;
	margin-bottom: 20px;
	color:var(--accent-color-orr);
  }
  .form-group {
	display: flex;
	margin-bottom: 15px; 
  }
  
 
  .form-group label {
	flex: 0 0 120px; /* Фиксированная ширина метки */
	text-align: right; /* Выравнивание текста по правому краю */
	margin-right: 10px; /* Отступ справа для создания промежутка между меткой и полем ввода */
  }
  .form-btn{
	margin: 0 auto; /* Автоматическое выравнивание по центру */
	display: block; /* Блочный элемент, чтобы применить margin: 0 auto */
  }
  /* Стили для инпутов внутри .form-group */
  .form-group input,
  .form-group textarea {
	flex-grow: 1; /* Инпуты занимают оставшееся пространство */
	height: 40px;
  }

  /* Стили для кнопки закрытия */
  .close {
	position: absolute; /* Абсолютное позиционирование */
	right: 20px;
	top: 0px;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  


